inputs/*
event_lists/*
results/analysis/*/*.events
Archive*
*Tree*
sync_shapes
shape_comparisons
results
make_cec*
mc_shape_comparisons
CMS_lumi.py
myMacro.py
tdrstyle.py
*.root
pyplotter/*

pick_fsa_events.py
